# Compiled class file
*.class

# Log file
*.log
*.txt
PSYSJO_DOCKER_MSSQL/u01/*
PSYSJO_DOCKER_ORACLE/u01/*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
**/*.iml